<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Notebook</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="images/logo.png" type="image/icon type">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav id="head0">
      <ul>
        <li><b>OurOneNote</b></li>
        <li id="center">My NoteBook</li>
        <li><button type="button"><img src="images/login.jpg"></button></li>
      </ul>
    </nav>
  </header>
  <div class="topnav">
    <div class="navitem" id="file"> <a href="#file">
        <div class="navtext"> File </div>
      </a> </div>
    <div class="navitem active" id="home"> <a id="homeA" href="#home" class="nav-bottom-border">
        <div class="navtext"> Home </div>
      </a> </div>
    <div class="navitem" id="insert"> <a id="insertA" href="#insert" href="/">
        <div class="navtext"> Insert</div>
      </a> </div>
    <div class="navitem" id="draw"> <a id="drawA" href="#draw">
        <div class="navtext"> Draw </div>
      </a> </div>
    <div class="navitem" id="view"> <a id="viewA" href="#view">
        <div class="navtext"> View </div>
      </a> </div>
    <div class="navitem" id="help"> <a id="helpA" href="#help">
        <div class="navtext"> Help </div>
      </a> </div>
    <div id="share">
      Share
    </div>
  </div>


  <nav id="left">
    <ul>
      <li><img src="images/nb.png"></li>
      <li><img src="images/search.png"></li>
    </ul>
  </nav>

  <!-- ---------------------Home-Nav-Bar ----------------->

  <div class="bottomnav" id="homeNav">
    <div class="navicon">
      <div class="coupled">
        <img class="img_nav" src="images/undo_icon.png">
        <img class="img_drop" src="images/down-arrow.png">
      </div>
    </div>
    <div class="navicon">
      <div class="coupled">
        <img class="img_nav" src="images/clipboard.png">
        <img class="img_drop" src="images/down-arrow.png">
      </div>
    </div>
    <div class="navicon">
      <div class="vl"> </div>
      <div class="coupled" style="background : white; padding-right: 2%; outline: black solid 1px; padding:2%">
        <input class="fontClass" type="text" name="" value="Calibri">
        <img class="img_font_drop" src="images/down-arrow.png">
      </div>
    </div>
    <div class="navicon" style="padding-left : 0; margin : 0">
      <div class="coupled" style="background : white; padding-right: 2%; outline: black solid 1px; padding:2%">
        <input class="sizeClass" type="text" name="" value="11">
        <img class="img_font_drop" src="images/down-arrow.png">
      </div>
    </div>
  </div>

    <!-- ---------------------Insert-Nav-Bar ----------------->

  <div class="bottomnav inv" id="insertNav">
    <div class="navicon">
      <div class="coupled">
        <img class="img_nav" src="images/undo_icon.png">
        <img class="img_drop" src="images/down-arrow.png">
      </div>
    </div>
  </div>
