body{
    margin: 0px;
    padding: 0px;
}
#head0{
    height: 50px;
    width: 100vw;
    background-color:#7719AB;
} 
#head0 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin:0px;
    padding: 0px;
}
#head0 li{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
    padding-left: 10px;
    padding-right: 10px;
} 
#head0 ul li button{
    background-color: #7719AB;
    border: 1px #7719AB solid;
}
#head0 ul li img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
} 
#head1{
    margin: 0px;
    padding: 2px;
    background-color: rgb(245, 243, 243);
    /* border-bottom: 1px  rgb(214, 212, 212) solid;  */
    box-shadow: 0px 1px 3px -1px rgb(126, 124, 124) ;
}
#head1 ul{
    list-style-type: none;
    height: 50px;
    padding: 0px;
}
#head1 li{
    font-family: 'Roboto', sans-serif;
    font-weight: 900px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
} 
#share{
    margin-right: 20px;
    background-color: #7719AB;
    color: white;
    float: right !important;
    padding: 10px !important;
}
#share:hover{
    background-color: #67217A !important;
}
#head1 li:hover{
    font-weight:bolder;
    background-color: rgb(245, 243, 243);
}
#left{
    position: fixed;
    top: 120px;
    left: 0px;
    width: 3%;
    height: 100vh;
    z-index: -1;
    border: black;
    background-color: rgb(245, 243, 243);
    border-right: 1px  rgb(214, 212, 212) solid; 
}
#left ul{
    list-style-type: none;
    padding: 7px;
}
#left ul img{
    width: 20px;
}
#left ul li{
    padding: 10px;
}
