/* ******************** Header ******************/

body{
    margin: 0px;
    padding: 0px;
}
#head0{
    width: 100%;
  padding: 0 12px;
    background-color:#7719AB;
}
#head0 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin:0px;
    padding: 0px;
}
#head0 li{
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
    padding-left: 10px;
    padding-right: 10px;
}
#head0 ul li button{
    background-color: #7719AB;
    border: 1px #7719AB solid;
}
#head0 ul li img{
    position: fixed;
    right: 30px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

/* ******************** TopNavBar ******************/

.topNavBar {
    width: 100%;
    background-color: #f3f2f1;
    padding: 10px 0 0 12px;
    overflow: auto;
}

.topNavBar a {
    margin: 0;
    color: #383736;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    padding: 8px 20px;
}

.topBarText {
    display: inline;
    padding: 5px;
}

#share{
    position: fixed;
    right: 0;
    top: 55px;
    margin-right: 50px;
    background-color: #7719AB;
    color: white;
    float: right !important;
    padding: 0.4% !important;
}
#share:hover{
    background-color: #67217A !important;
}

/* ******************** BottomNavBar ******************/

.bottomNav {
    width: 100%;
    display: inline-flex;
    overflow: auto;
    background-color: #f3f2f1;
    padding: 0 5px 0px 20px;
    align-items: center;
    box-shadow: 0px 2px 2px #888888;
}

.bottomObj {
    display: inline-flex;
    width: fit-content;
    overflow: auto;
    padding : 1px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.bottomNav img {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}

.vl {
    display: inline;
    height: 25px;
    margin-right : 5px;
    border-left: 1px solid #383736;
}

.bottomNav input:focus {
    border: none;
    outline: none;
}

.fonts {
    background-Color: white;
     outline: black solid 1px;
}

.hovering:hover {
    background-color: #EDEBE9;
}

.color{
    width: 20px;
    /* height: 20px; */
}
/* ******************** SideBar ******************/

.leftBar{
    width: fit-content;
    background-color: #f3f2f1;
    height: 81vh;
    border-Right : 0.5px solid  #f3f2f1;
}

.sideIcon {
    padding: 10px;
}

.currentTab {
    color: #67217A;
    background-color:#d2d0ce;
    border-left: 5px solid #67217A ;
}

.notebooks {
    box-shadow: 0px 0px 2px #888888;
    height: 81vh;
    width: 50vh;
    display: block;
    background-color: #faf9f8;
    border-right : 1px solid  #f3f2f1;
    border-top: 1px solid  #f3f2f1 ;
}

#canvas {
    border: 2px solid black;
}

.fixed-content {
    min-height:100%;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
} 
